<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Users</title>
    <style>

    </style>
</head>
<body style="font-size: 18px;">
<div class="container-fluid">
    <nav style="color: white; display: flex; justify-content: space-between;"
         class="navbar navbar-expand-lg navbar-light bg-dark">
        <div style="display: flex; margin: 10px;">
            <span th:text="${authUser.email + ' with roles: '} "></span> &nbsp;
            <th:block th:each="role : ${authUser.roles}">
                <span th:text="${role.name.substring(5)}"></span>&nbsp;
            </th:block>
        </div>
        <div style="display: flex; margin: 10px; color: white">
            <a class="btn btn-dark" th:href="@{/logout}">Logout</a>
        </div>
    </nav>
    <div style="display: flex;">
        <div style="display: flex; flex-direction: column; width: 15%;">
            <nav class="nav nav-pills flex-column" style="margin-top: 20px; background: white">
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a class="nav-link active" aria-current="page" href="/admin/users">Admin</a>
                </div>
                <div>
                    <a class="nav-link" th:href="@{/user}">User</a>
                </div>
            </nav>
        </div>
        <div style="display: flex; flex-direction: column; width: 100%;">
            <div style="margin: 0" class="alert alert-light" role="alert">
                <h1 style="margin: 0">Admin panel</h1>
            </div>
            <nav class="navbar navbar-light bg-light">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a id="utable" class="nav-link active" aria-current="page" href="" >Users Table</a>
                    </li>
                    <li class="nav-item">
                        <a id="newusertable" data-toggle="tab" class="nav-link" href="">New User</a>
                    </li>
                </ul>
            </nav>
            <div class="card">
                <div class="card-header">
                    All users
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">ROLE</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody id="data"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="editUserModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form" accept-charset="UTF-8" class="row g-3">
                <div class="modal-header">
                    <h5 class="modal-title">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="margin: 0;" class="mb-3">
                        <label for="Input6">Id</label>
                        <input id="Input6" type="text" class="form-control userId" name="id" value=""
                               readonly>
                    </div>
                    <div style="margin: 0;" class="mb-3">
                        <label for="Input7">First Name</label>
                        <input type="text" class="form-control userName" name="username" id="Input7"
                               value="">
                    </div>
                    <div style="margin: 0;" class=" mb-3">
                        <label for="Input8">Last Name</label>
                        <input type="text" class="form-control userLastName" name="lastName" id="Input8"
                               value="">
                    </div>
                    <div style="margin: 0;" class="mb-3">
                        <label for="Input9">Age</label>
                        <input type="number" class="form-control userAge" name="age" id="Input9"
                               value="">
                    </div>
                    <div style="margin: 0;" class="mb-3">
                        <label for="Input10">Email address</label>
                        <input type="email" class="form-control userEmail" name="email" id="Input10"
                               value="">
                    </div>
                    <div style="margin: 0;" class="mb-3">
                        <label for="Input11">password</label>
                        <input type="password" class="form-control upass" name="password" id="Input11"
                               value="">
                    </div>
                    <div style="margin: 0;" class="mb-3">
                        <select id="select" name="roles" multiple size="2" required class="form-control">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="delSubmit" class="btn btn-primary" onclick="updateUser()">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="delUserModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formdel" accept-charset="UTF-8" class="row g-3">
                <div class="modal-header">
                    <h5 class="modal-title">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="margin: 0;" class="mb-3">
                        <label for="Input0">Id</label>
                        <input id="Input0" type="text" class="form-control userId" name="id" value=""
                               readonly>
                    </div>
                    <div style="margin: 0;" class="mb-3">
                        <label for="Input1">First Name</label>
                        <input type="text" class="form-control userName" name="name" id="Input1"
                               value="" readonly>
                    </div>
                    <div style="margin: 0;" class=" mb-3">
                        <label for="Input2">Last Name</label>
                        <input type="text" class="form-control userLastName" name="lastName" id="Input2"
                               value="" readonly>
                    </div>
                    <div style="margin: 0;" class="mb-3">
                        <label for="Input3">Age</label>
                        <input type="number" class="form-control userAge" name="age" id="Input3"
                               value="" readonly>
                    </div>
                    <div style="margin: 0;" class="mb-3">
                        <label for="Input4">Email address</label>
                        <input type="email" class="form-control userEmail" name="email" id="Input4"
                               value="" readonly>
                    </div>
                    <div style="margin: 0;" class="mb-3">
                        <select id="selected" name="roles" multiple size="2" required class="form-control">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="editSubmit" class="btn btn-danger" onclick="deleteUser()">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/crud.js}" th:inline="javascript"></script>
<script type="text/javascript" th:src="@{/newuser.js}"></script>
<script type="text/javascript" th:src="@{/tableInner.js}"></script>

<script type="text/javascript" th:inline="javascript">
    function edit(obj) {
        var id = obj.id;
        fetch("http://localhost:8080/rest/user/" + id).then(
            res => {
                res.json().then(
                    user => {
                        $(".userId").val(user.id);
                        $(".userName").val(user.username);
                        $(".userLastName").val(user.lastName);
                        $(".userAge").val(user.age);
                        $(".userEmail").val(user.email);
                    }
                )
            }
        );
        select = $('#select');
        $('#select option').remove();
        fetch("http://localhost:8080/rest/roles").then(
            res => {
                res.json().then(
                    roles => {
                        for (var i = 0; i < roles.length; i++) {
                            if (select.length !== roles.length) {
                                var o = new Option(roles[i].name, roles[i].id);
                                select.append(o);
                            }
                        }
                    }
                )
            }
        );
        $("#editUserModal").modal('show');
    }

    function updateUser() {
        var user = [[${user}]];
        let formData = new FormData(document.getElementById("form"));
        for (let key of formData.keys()) {
            user[key] = formData.get(key);
        }
        var selectedRoles = $('#select').val();
        let roleSet = new Set();
        for (let i = 0; i < selectedRoles.length; i++) {
            selectedRoles[i] === "1"
                ? roleSet.add({"id": 1, "name": "ROLE_ADMIN"})
                : roleSet.add({"id": 2, "name": "ROLE_USER"})
        }
        user.roles = Array.from(roleSet);
        user.id = parseInt(user.id);
        user.age = parseInt(user.age);
        var json = JSON.stringify(user);
        console.log(json); //{"id":7,"username":"111","lastName":"111","age":111,"email":"vohmin77@gmail.com","password":"111","roles":[{"id":2,"name":"ROLE_USER"}]}
        let response = fetch('/rest/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            },
            credentials: "include",
            mode: "cors",
            body: json
        }).then(function (response) {
            if (response.ok) {
                response.json().then(function (json) {
                    let releasedate = json;
                    console.log(releasedate);
                });
            } else {
                alert('Network failed with response ' + response.status + ': ' + response.statusText);
                console.log('Network failed with response ' + response.status + ': ' + response.statusText);
            }
        }).catch(function (resp) {
            console.log(resp)
        });
        console.log(response);
        $("#form")[0].reset();
        $('#editUserModal').modal('hide');
        show();
    }

    function delshow(obj) {
        var idAttr = obj.id;
        var id = idAttr.slice(4);
        fetch("http://localhost:8080/rest/user/" + id).then(
            res => {
                res.json().then(
                    user => {
                        $(".userId").val(user.id);
                        $(".userName").val(user.username);
                        $(".userLastName").val(user.lastName);
                        $(".userAge").val(user.age);
                        $(".userEmail").val(user.email);
                    }
                )
            }
        );
        select = $('#selected');
        $('#selected option').remove();
        fetch("http://localhost:8080/rest/roles").then(
            res => {
                res.json().then(
                    roles => {
                        for (var i = 0; i < roles.length; i++) {
                            if (select.length !== roles.length) {
                                var o = new Option(roles[i].name, roles[i].id);
                                select.append(o);
                            }
                        }
                    }
                )
            }
        );
        $("#delUserModal").modal('show');
    }

    function deleteUser() {
        var id = $('#Input0').val();
        let response = fetch("/rest/delete/" + id, {
            method: 'DELETE'
        }).then(res => res.json())
            .then(res => console.log(res));
        console.log(response);
        $("#formdel")[0].reset();
        $('#delUserModal').modal('hide');
    }
</script>
</body>
</html>